body {
  background-color: rgb(174, 217, 249);
  text-align: center;
}
h1 {
  font-size: 5em;
}
h2 {
  font-size: 2em;
}
.col-sm:hover{
  transform: scale(1.5);
}
#contact-us {
  background-color: white;
  padding: 10px;
  border: 1px solid;
  width: 40%;
  margin: 0 auto;
}
.label-contact {
 display: inline-block;
 text-align: right;
  width: 45%;
  padding: 5px;
  margin-top: 10px;
  color: black;
}
.input-contact {
  display: inline-block;
  text-align: left;
  width: 50%;
  vertical-align: middle;
}
input[type="submit"] {
  background: #87CEEB;
  padding: 5px;
   width: 50px 50px;
  margin: 0 auto;
  margin-top: 10px;
  border: 2px solid #F0F8FF;
  color: black;
}
.wrapper {
  text-align: center;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.socials {
  padding: 20px;
  float: right;
}
